.h5p-text-input-field .h5p-text-input-field-textfield {
  width: calc(100% - 0.8em);
  resize: none;
  font-size: 16px;
  font-family: var(--h5p-theme-font-name);
  
  
    display: flex;
    align-items: center;
    background-color: var(--h5p-theme-ui-base);
    box-shadow: inset 0px 0px 4px 4px rgba(117, 128, 147, 0.10);
    border-radius: var(--h5p-theme-border-radius-medium);
    border: 2px solid var(--h5p-theme-stroke-1);
    padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-xs);
    color: var(--h5p-theme-text-primary);
  
}

.h5p-text-input-field .h5p-text-input-field-textfield:focus {
  background-color: #fff;
}

/* Reduce bottom and top margin of children */
.h5p-text-input-field .h5p-text-input-field-label > * {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.h5p-text-input-field .h5p-text-input-field-textfield.required-input {
  border-color: var(--h5p-theme-feedback-incorrect-main);
}

.h5p-text-input-field .h5p-text-input-field-message-wrapper {
  overflow:auto;
}

.h5p-text-input-field .h5p-text-input-field-message-char {
  font-size: 0.8em;
  float: left;
}

.h5p-text-input-field-label.required > :last-child:after {
  font-size: 1.1em;
  content: "*";
  color: var(--h5p-theme-feedback-incorrect-main);
  padding-left: 4px;
}
